body{
    background-color: rgba(1, 23, 1, 0.822);
}
.main-content{
    background-color: black;
    color: white;
    margin: 2%;
    margin-bottom: 0%;
    max-height: fit-content;
    justify-content: center;
    font-size: 20px;
    padding: 1% 3% 3% 3%;
}
#logo-img{
    width: 5rem;
    height: 5rem;
    float: left;
}
.navabar{
    display: flex;
    flex-direction: row;
    text-decoration-color: green;
}
#left-nav{
    float: left;
    padding: 1.5rem;
}
#right-nav{
    float: right;
    padding: 1.5rem;
}
.main-heading{
    text-align: center;
    margin: 3rem;
    padding: 2rem;
}
button{
    background-color: black;
    color: white;
}
button:hover{
    background-color: rgb(167, 164, 164);
    border-radius: 0.5rem;
    padding: 0.2rem;
}
a{
    color: white;
    text-decoration: none;  
}

.main-btns{
    background-color: black;
    border: green 2px solid;
    border-radius: 0.5em;
    padding: 8px;
    margin: 5px;
}
.main-btns:hover{
    background-color: black;
    padding: 0.6rem;
}

/* LOGIN + SIGN-UP */

.login, .sign-up, .about, .products{
    justify-content: center;
    margin:6rem 25% 1rem 25% ;
}
.login-form, .sign_up_form, .products-form{
    padding: 2rem;
    background-color: rgba(1, 23, 1, 0.822);
    color: white;
    width: 350px;
    height: max-content;
    margin-left: 5%;
}
.login-items, .sign-up-items, .about-item, .products-items{
    width: 70%;
    margin: 0.3rem;
    padding: 0.5em 1.5rem;
    border-radius: 12px;
    background-color: black;
    box-shadow: none;
    color: white;
}
.login-btn{
    background-color: black;
    color: white;
    border: 2px solid green;
    border-radius: 0.5em;
    padding: 15px;
    margin-left: 50%;
}
.login_body, .sign-up_body, .products_body, .about_body{
    background-color: black;
    margin: 0;
    padding: 0;
}